/* targeting the body tag to change font family and font size */
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

/* selecting multiple elements, specifically header and footer, changing background color */
header,footer{
    background-color:rgb(255, 248, 249);
}

/* adding class "site-title" */
.site-title{
    color:rgb(255, 218, 228);
}

/* creating a ID "my-image" */
#my-image{
    box-shadow: 0 0 2px 1px black;
}

/*  changing bullet point style on Hobbies portion of index.html page using a class, can use for other lists as well in the future  */
.squarebullets{
    list-style:square;
}

article ul li:nth-child(2n+1){
    background-color: rgb(244,242,255);
}

/* removing bullets from nav list, adding border + border styling */
nav ul{
    list-style:none;
    border-style:solid;
    border-width: 3 px;
    border-color:rgb(255,218,228)
}

/* adding a color change during link hover */
nav ul a:hover,
nav ul a:focus{
    background-color:rgb(255, 190, 206)
}

/* removing underline, adding background to link */
a:link{
    text-decoration: none;
    background-color:rgb(255,218,228)
    
}